.dropdownLink{
    display: none;
}

@media(max-width: 768px){
    ul.topnav li a.nav-link{
        display: none;
    }
    
    ul.topnav li.dropdownLink{
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    
    ul.topnav.responsive li.dropdownLink{
        position: absolute;
        top: 15px;
        right: 20px;
    }
    
    ul.topnav.reponsive{
        flex-direction: column;
        text-align: right;
    }
    
    ul.topnav.responsive li{
        position: relative;
        top: 30px;
        right: 30px;
    }
    
    ul.topnav.responsive li a.nav-link{
        display: block;
        line-height: 2;
    }
    
}